.venv/
__pycache__/
*.pyc
.env
data/
.DS_Store
.ipynb_checkpoints/
# LaTeX build files
latex/**/*.aux
latex/**/*.log
latex/**/*.out
latex/**/*.toc
latex/**/*.bbl
latex/**/*.blg
latex/**/*.fdb_latexmk
latex/**/*.fls
latex/**/*.synctex.gz
latex/**/*.bcf
latex/**/*.run.xml
latex/**/*.lof
latex/**/*.lot
*.bak